<nav class="container flex relative justify-start items-center w-full h-14 bg-[#0E5E6F]
md:fixed">
    <div>
      <span class="z-50
      block ml-5 text-white font-semibold text-xl">CRUD Express JS</span>
    </div>
</nav>